include strigiPYTHON_wrap.cxx
include include/strigiPYTHON_wrap.h
include streamanalyzer.py
include setup.py
include test/*.py
include README.txt
include README.txt
include include/*.h
include include/strigi/*.h
recursive-include test/testdata **/*

